.custom-bootstrap-card {
  &.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: auto;
    margin-bottom: 0px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;

    .card-header {
      padding: 0.75rem 1.25rem;
      margin-bottom: 0;
      background-color: rgba(0, 0, 0, 0.03);
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      color: #525f7f !important;
    }

    .card-body {
      flex: 1 1 auto;
      min-height: 1px;
      padding: 1.25rem;
    }

    .card-footer {
      padding: 0.75rem 1.25rem;
      background-color: rgba(0, 0, 0, 0.03);
      border-top: 1px solid rgba(0, 0, 0, 0.125);
    }

    .row {
      margin: 0 0;
    }

    .col {
      padding: 0 0;
    }

    &.custom-summary-card {
      min-height: 160px;

      .card-header {
        span {
          font-weight: 600;
        }
        i {
          font-size: 1.5em;
          margin-left: 10px;
        }
      }
      .card-body {
        padding: 0px 0px;
      }

      .data-value {
        padding-top: 1.3rem;
        font-size: 3em;
      }
    }

    &.custom-list-group-card {
      .card-header {
        span {
          font-weight: 600;
        }
        i {
          font-size: 1.5em;
          margin-left: 10px;
        }
      }

      .list-group-flush {
        padding-right: 1px;
        padding-left: 1px;
      }

      .list-group-item {
        position: relative;
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 1px;
        padding-right: 5px;
        background-color: #fff;
        border-top: 1px solid rgba(0, 0, 0, 0.125);

        sup {
          font-size: 0.6em;
        }

        .device-name {
          font-size: 1em;
          max-width: 200px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .device-date {
          font-size: 0.8em;
        }

        .device-value {
          font-size: 1.6em;
          font-weight: 500;
          color: #525f7f !important;
        }
      }

      .list-group-item:first-child {
        border-top: 0px none;
      }
      .list-group-item:last-child {
        border-bottom: 0px none;
        padding-bottom: 10px;
      }

      .list-group-item:not(:last-child):hover,
      .clickable-header:hover {
        cursor: pointer;
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
      }
    }

    &.custom-gauge-card {
      max-width: 200px;
      padding-left: 1px;
      padding-right: 1px;

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
      }
    }

    &.custom-data-type-card {
      .card-header {
        padding: 10px 3px !important;

        .dataType {
          font-size: 1em;
        }
        i {
          margin-left: 5px;
          font-size: 1.2em;
        }
        .dataValue {
          font-size: 2em;
        }
      }
      &:hover {
        cursor: pointer;
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
      }
      .device-date {
        font-size: 0.8em;
      }
    }
  }
}

.data-type-with-icon {
  i {
    margin-left: 10px;
    font-size: 1.5em;
  }
}

.span-button {
  margin-top: 5px;
  padding: 5px 5px;
  i {
    margin-left: 2px;
  }
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.custom-checkbox-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.wide-modal-dialog {
  max-width: 1000px;
}

.minMaxAvg {
  writing-mode: tb-rl;
  font-size: 0.8em;
  opacity: 0.3;
}

.chart-area {
  height: 320px !important;
}

.spinner-border {
  color: #6c757d !important;
  width: 1em !important;
  height: 1em !important;
}
