.simpleTable td,
th {
  padding: 5px 2px !important;
  font-size: 0.95em;
}

.pagination-wrapper .pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: -5px;
}

.pagination-wrapper .pagination .page-item {
  margin-top: 5px;
  user-select: none;
}

.pagination-wrapper .page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
}

.pagination-wrapper .page-link {
  color: #007bff;
}

.bootstrap-card {
  box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1) !important;
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  min-width: 0 !important;
  width: auto !important;
  margin-bottom: 0px !important;
  word-wrap: break-word !important;
  background-color: #fff !important;
  background-clip: border-box !important;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 0.25rem !important;
  color: inherit !important;
}

.bootstrap-card .card-header {
  padding: 0.75rem 1.25rem !important;
  margin-bottom: 0 !important;
  background-color: rgba(0, 0, 0, 0.03) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
  color: inherit !important;
}

.bootstrap-card .card-body {
  flex: 1 1 auto !important;
  min-height: 1px !important;
  padding: 1.25rem !important;
  color: inherit !important;
}

.bootstrap-card .card-footer {
  padding: 0.75rem 1.25rem !important;
  background-color: rgba(0, 0, 0, 0.03) !important;
  border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
  color: inherit !important;
}

.bootstrap-card .list-group-item {
  position: relative !important;
  display: block !important;
  padding: 5px 5px !important;
  background-color: #fff !important;
  border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
}
.bootstrap-card .list-group-item:last-child {
  border-bottom: 0px none !important;
}

.bootstrap-card .row {
  margin: 0 0 !important;
}
.bootstrap-card .col {
  padding: 0 0 !important;
}

.bootstrap-card .list-group-item:not(:last-child):hover,
.bootstrap-card .header-click:hover {
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
