.simpleTable td,
th {
  padding: 5px 2px !important;
  font-size: 0.95em;
}

.pagination-wrapper .pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: -5px;
}

.pagination-wrapper .pagination .page-item {
  margin-top: 5px;
  user-select: none;
}

.pagination-wrapper .page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
}

.pagination-wrapper .page-link {
  color: #007bff;
}

.nav-tabs .nav-item {
  cursor: pointer;
}
.nav-tabs .nav-link.active {
  background-color: #f5f6fa !important;
  border-color: #dee2e6 #dee2e6 #fff !important;
}

.tab-content {
  padding-top: 20px !important;
}

.table .table {
  background-color: unset !important;
}
